set show-mode-in-prompt on
set editing-mode vi
set vi-ins-mode-string ""
set vi-cmd-mode-string "\1\e[1;37;100m\2 NORM \1\e[90;44m\2\1\e[0m\2"

# tty
$if term=linux
    set vi-cmd-mode-string "(norm) "
$endif

$if mode=vi
    set keymap vi-command
    "k": history-substring-search-backward
    "j": history-substring-search-forward
    set keymap vi-insert
    "\C-l": clear-screen
$endif
