@define-color nord00 #2e3440;
@define-color nord01 #3b4252;
@define-color nord02 #434c5e;
@define-color nord03 #4c566a;
@define-color nord04 #d8dee9;
@define-color nord05 #e5e9f0;
@define-color nord06 #eceff4;
@define-color nord07 #8fbcbb;
@define-color nord08 #88c0d0;
@define-color nord09 #81a1c1;
@define-color nord10 #5e81ac;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;

* {
    font-size: 12px;
    font-family: "JetBrainsMono Nerd Font";
    min-height: 0;
}

#waybar {
    color: @nord06;
    background: @nord00;
}

/* --------- Workspaces --------- */

#workspaces button {
    margin: 2px 0;
    padding: 0 3px;
}

#workspaces button:hover {
    color: @nord06;
    background-color: @nord09;
}

#workspaces button.active {
    border-radius: 2px;
    background-color: @nord03;
}

#workspaces button.urgent {
    background-color: @nord11;
}

/* --------- Icons --------- */

#tray, #wireplumber, #network {
    padding: 0 6px;
}

#icons {
    margin: 2px;
    margin-right: 4px;
    background-color: @nord03;
    border-radius: 4px;
    padding: 0;
}

/* --------- General --------- */

#battery, #cpu, #memory, #clock, #custom-logo, #window {
    margin: 2px 2px;
    padding: 0 8px 0 6px;
    background-color: @nord03;
    border-radius: 4px;
}

/* --------- Misc --------- */

#window {
    padding: 0;
}

#custom-logo, #window {
    background-color: transparent;
}

#battery.charging.high, #network {
    color: @nord14;
}

#battery.discharging.low, #network.disconnected {
    color: @nord11;
}
