* {
    font-size: 12px;
    font-family: "JetBrains Mono Nerd Font";
    min-height: 0;
}

window#waybar {
    background: #2e3440;
    color: #fff;
}

#custom-right-arrow,
#custom-left-arrow {
    color: #4c566a;
}
#custom-right-arrow-alt,
#custom-left-arrow-alt {
    color: #2e3440;
    background: #4c566a;
}

#custom-logo {
    background: #4c566a;
    padding: 0 2px 0 6px;
}

#clock,
#wireplumber,
#memory,
#cpu,
#battery {
    background: #4c566a;
    padding: 0 8px;
}

/*
#wireplumber {
    color: #81a1c1;
}
#memory {
    color: #88c0d0;
}
#cpu {
    color: #cba6f7;
}
#battery {
    color: #aebe8c;
}
#network {
    color: #ebcb8b;
}
*/

#tray,
#network {
    background: #4c566a;
    padding-right: 5px
}

#network {
    padding-left: 5px
}

#battery.charging.high {
    color: #aebe8c;
}

#battery.discharging.low {
    color: #BF616A;
}
