/* GTK Vars */
@define-color bg-color #2e3440;
@define-color fg-color #d8dee9;
@define-color primary-color #5e81ac;
@define-color secondary-color #81a1c1;
@define-color border-color @primary-color;
@define-color selected-bg-color @primary-color;
@define-color selected-fg-color @bg-color;

* {
  all: unset;
  font-family: JetBrainsMono Nerd Font;
}

#window {
  background: transparent;
}

box#main {
  border-radius: 10px;
  background-color: alpha(@bg-color, 0.95);
  border: 0.5px solid alpha(@fg-color, 0.25);
}

entry#entry {
  font-size: 1.25rem;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  caret-color: @primary-color;
}

list#main {
  background-color: transparent;
}

#plugin {
  background-color: transparent;
  padding-bottom: 4px;
}

#match {
  font-size: 1.1rem;
  padding: 2px 4px;
}

#match:selected,
#match:hover {
  background-color: @selected-bg-color;
  color: @selected-fg-color;
}

#match:selected label#info,
#match:hover label#info {
  color: @selected-fg-color;
}

#match:selected label#match-desc,
#match:hover label#match-desc {
  color: alpha(@selected-fg-color, 0.9);
}

#match label#info {
  color: transparent;
  color: @fg-color;
}

label#match-desc {
  font-size: 1rem;
  color: @fg-color;
}

label#plugin {
  font-size: 16px;
}
